/* Elements */

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	line-height: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.circle {
	width: 3em;
	height: 3em;
	background-color: forestgreen;
	border-radius: 50%;
	position: absolute;
	left: 10%;
	top: 10%;
}

.line {
	height: 1px;
	width: 100%;
	background-color: steelblue;
	transform: rotate(-45deg);
}

.line-2 {
	transform: rotate(5deg);
	position: absolute;
	top: 5em;
}